{% extends 'APP_Settings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'product_page/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
 
        <div class="perfum">
            <img src="{% static 'product_page/img/dune.jpg' %}" alt="">
            <p>Оригінальний і гармонійний Dune pour Homme черпає натхнення у прохолодних морських відпустках. 
                Його композиція поєднує свіжі, деревні та океанічні ноти в ароматі, який є спокійним і гармонійним з природою. </p> 
        </div>

        <div class="perfum">
            <img src="{% static 'product_page/img/eau.jpg' %}" alt="">
            <p>Більше свіжості, більше сили, більше глибини.
                Eau Sauvage Extreme доносить оригінальний акорд до піку надлишку та збагачує його благородною деревною нотою, 
                яка має обволікаючі акценти та сміливий сучасний характер, щоб посилити його мужність.
                З таким же вічним шиком і такою самоочевидністю запаху, як туалетна вода Eau Sauvage. </p> 
        </div>
        
        <div class="perfum">
            <img src="{% static 'product_page/img/fahrenheit.jpg' %}" alt="">
            <p>Fahrenheit Parfum винаходить силу привабливості. 
                Відразу викликає звикання, який підкреслює гармонію незвичайних нюхових акордів. 
                Ароматний сценарій, який поєднує крайнощі, де квіти зустрічаються зі шкірою та деревом. 
                Легендарний підпис аромату Fahrenheit оповитий яскравим, чуттєвим акордом з акцентами фіалки та шкіри, посиленими абсолютом бурбонської ванілі. 
                Непереборна привабливість аромату, піднесеного рідкісними інгредієнтами. </p> 
        </div>

    </div>
    <div class="container">

        <div class="perfum">
            <img src="{% static 'product_page/img/higher.jpg' %}" alt="">
            <p>Молодий, міський аромат, створений для чоловіка, який завжди відкритий до нових перспектив і горизонтів, 
                складається навколо гармонії свіжих, деревних і пряних нот грейпфрута, перцю і ветівера. 
                Яскравий і яскравий. </p> 
        </div class="perfum">

        <div class="perfum">
            <img src="{% static 'product_page/img/home.jpg' %}" alt="">
            <p>Аромат чоловічого ірису. Сексуальний ольфакторний підпис, посилений мужніми деревними нотами для надзвичайно тонкої витонченості. 
                Dior Homme носять так само, як ви носите елегантний гострий сучасний костюм. 
                Залиште нюховий шлейф того деревного, пряного аромату, який одразу впізнає відмітний стиль. </p> 
        </div>

        <div class="perfum">
            <img src="{% static 'product_page/img/jules.jpg' %}" alt="">
            <p>Сильний чоловічий аромат, що складається з деревних зелених нот і пряних перцевих акцентів. </p> 
        </div>

    </div>

{% endblock %}