{% extends 'APP_Settings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'shopping_cart_page/css/style.css' %}">
{% endblock %}
{% block script %}
    <script defer src="{% static 'shopping_cart_page/js/script.js' %}" ></script>
{% endblock %}
{% block content %}
<div class = "main-container">

    <div id = "number"> 
        <p>#id</p>
    </div>

    <div id="product">
        <p>товар </p>
    </div>

    <div id = "count-block">
        <p>кількість </p>
    </div>

    <div id="price">
        <p>ціна </p>
    </div>

    <div id = "sum">
        <p>сума </p>
    </div>

</div>

<div class="container-field">
    {% for perfume in all_perfumes %}
        <div class="perfume-info">
            <div id = "number"> 
                <p>{{perfume.number_in_cart}}</p>
            </div>

            <div id="product">
                <p>{{perfume.name}}</p>
            </div>

            <div id="count-block">
                <!-- <span id ='minus'>-</span> -->
                <p>{{perfume.count_in_cart}}</p>
                <!-- <span id ='plus'>+</span> -->
            </div>

            <div id="price">
                <p>{{perfume.price}}</p>
            </div>

            <div id = "sum">
                <p>{{perfume.sum_in_cart}}</p>
            </div>

            <div  id ='del'>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="perfume_id" value="{{perfume.id}}">
                    <button>x</button>
                </form>
            </div>

        </div>
    {% endfor %}
</div>
<div class = 'finish'>
    <form action="" method="POST" name="finish">
        {% csrf_token %}
        <button name = 'clear'>Очистити корзину</button>
        <button>Наступний крок</button>
    </form>
    
</div>
{% endblock %}
