@media (max-width: 767px){
    .sul_1{
        display: none;
    }
    .sul_2{
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    #header{
        bottom: 0px;
        width: 100%;
        height: 17%;
        position: fixed;
        display: flex;
        flex-direction:  row;
        align-items: center;
        justify-content: space-around;
    }
    #header .a{
        padding: 0px;
    }
    #header .user_exit{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    #header .user a{
        display: none;
    }
    #header .exit a{
        display: none;
    }
}