
.container{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    padding-top: 30px;
    padding-left: 25px;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 3%;
    flex-wrap: wrap;
}

.perfum{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    gap:20px;
    align-items: center;
    box-shadow: 0px 10px 20px black;
    padding-bottom: 10px;
    padding: 10px;
    transition: transform 0.6s;
    border: 1px solid white;
    width: 30%;
}

.perfum img{
    transition: all transform 0.6s;
    width: 100%;
}

.perfum p{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.perfum:hover{
    transform: scale(0.95);
}

.container img:hover{
    box-shadow: 0px 10px 20px rgb(77, 75, 75);
    transition: 0.6s;
}

img:not(:hover){
    box-shadow: none;
    transition-duration: 2s;
}

.btn-buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    color: rgb(246, 246, 246);
    text-shadow: -2px 5px 7px black;
    background: linear-gradient(45deg, black, white 65%);
    border: 1px rgb(255, 255, 255) solid;
    width: 40%;
    height: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 10px;
}

/* для кнопки яка переведе на сторінку авторизації */
.btn-buy-log{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    color: rgb(246, 246, 246);
    text-shadow: -2px 5px 7px black;
    background: linear-gradient(45deg, black, white 65%);
    border: 1px rgb(255, 255, 255) solid;
    width: 40%;
    height: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 10px;
}

.btn-buy p{
    display: flex;
    color: black;
    font-size: 18px;
    padding-left: 10px;
}


.active {
    background-color: rgb(29, 212, 181);
}

.footer-product{
    position: fixed;
    bottom: 0%;
    border-top: #1398F8 solid 2px;
    height: 20px;
    width: 100%;
    margin-left: 310px;
    background-color: black;
    color: aliceblue;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}
