
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

/* зміна кольору ссилки, якщо ми на ній знаходимось */
#header #perfum-a{
    color: white;
  }

.perfum{
    position: relative;
    left: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    color: white;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 20px black;
    transition: transform 0.6s;
    border: 1px solid white;
    width: 32%;
}

.perfum .video{
    height: 40px;
}

.perfum img{
    transition: all transform 0.6s;
    width: 100%;
}

.perfum p{
    width: 100%;
    text-align: center;
    font-size: 0.9vw;
    padding: 0 3%;
}


.perfum:hover{
    transform: scale(0.95);
}

.perfum form{
    width: 40%;
    margin-bottom: 3%;
}

.container img:hover{
    box-shadow: 0px 10px 20px rgb(77, 75, 75);
    transition: 0.6s;
}

img:not(:hover){
    box-shadow: none;
    transition-duration: 2s;
}

.btn-buy{
    color: rgb(246, 246, 246);
    text-shadow: -2px 5px 7px black;
    background: linear-gradient(45deg, black, white 65%);
    border: 1px rgb(255, 255, 255) solid;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
    padding-left: 10px;
}

/* для кнопки яка переведе на сторінку авторизації */
.btn-buy-log{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    color: rgb(246, 246, 246);
    text-shadow: -2px 5px 7px black;
    background: linear-gradient(45deg, black, white 65%);
    border: 1px rgb(255, 255, 255) solid;
    width: 40%;
    height: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 10px;
}
/* 
.btn-buy p{
    display: flex;
    color: black;
    font-size: 18px;
    padding-left: 10px;
} */


/* .footer-product{
    position: fixed;
    bottom: 0%;
    border-top: #1398F8 solid 2px;
    height: 20px;
    width: 100%;
    margin-left: 310px;
    background-color: black;
    color: aliceblue;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
} */
