
.container{
    display: flex;
    width: 100%;
    gap: 0.5%;
    position: relative;
    left: 1%;
    width: 99%;
    padding-top: 1%;
}

/* зміна кольору ссилки, якщо ми на ній знаходимось */
#header #contacts-a{
  color: white;
}

.column1{
    overflow: hidden;
    width: 35%;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* не дає елементам виходити за межі колонки */
    width: 25%;
    gap: 1%;
}

.column1 .image{
    width: 100%;
    height: 100%;
    /* час трансформації обєкта. відповідає за плавність */
    transition: transform 0.8s;
}

.column2 .image{
    height: 100%;
    width: 100%;
    /* час трансформації обєкта. відповідає за плавність */
    transition: transform 0.8s;
}

.cont-img-a{
  overflow: hidden;
}

.image:hover{
    /* збільшення картинки при наведенні.
    в дужках - у скільки разів */
    transform: scale(1.2);
}

.column3{
    display: flex;
    width: 30%;
    margin-left: 3%;
    color: aliceblue;
    gap: 2%;
    flex-direction: column;
    font-size: 1.3vw;
}

.column3 h2{
  font-size: 2.3vw;
}


.icon{
    display: flex;
    justify-content: space-around;
}

.icon img{
    width: 100%;
}

.icon a {
	text-decoration: none;
	color: #18272F;
  position: relative;
  width: 20%;
}

.icon #tel::before {
  content: '';
  background-color: #229ED9;
  position: absolute;
  left: 27%;
  bottom: 30%;
  width: 0%;
  height: 0px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.icon #tel:hover::before {
  bottom: 15px;
  height: 60%;
  width: 60%;
  border-radius: 100%;
}

.icon #inst::before {
    content: '';
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    position: absolute;
    left: 22%;
    bottom: 30%;
    width: 0%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .icon #inst:hover::before {
    bottom: 18px;
    height: 55%;
    width: 55%;
    border-radius: 10px;
  }


  .icon #git::before {
    content: '';
    background-color:  #1b1a1a;
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 0%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .icon #git:hover::before {
    bottom: 16px;
    height: 68%;
    width: 40%;
    border-radius: 100px;
  }