{% extends 'APP_Settings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'Authorization_Registration/css/login.css' %}">
{% endblock %}
{% block content %}
<div class="main-container">
    <a id="registr" href="{% url 'Authorization_Registration' %}">РЕЄСТРАЦІЯ</a>
    <a id="login" href="{% url 'login_page' %}">ВХІД</a>
</div>
<div class="container">
    <div class = 'input'>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="block-login">
                <span><img src="{% static 'Authorization_Registration/img/login_white.png' %}" alt=""></span>
                <input id="login"type="text" placeholder="Ваш логін" name="username" value="{{login}}">
            </div>
            <div class="block-pass">
                <span class="span-pass"><img src="{% static 'Authorization_Registration/img/password-white.png' %}" alt=""></span>
                <input id="password"type="password" placeholder="Ваш пароль" name="password" value="{{password}}">
                <div class="div-pass"><input type="checkbox" id="checkbox"></div>
            </div>
                <button class="btn">
                  <p>ГОТОВО</p>
                </button>
            {% if user %}
                <p class="error">{{user.surname}}</p>
                <p class="error">{{error}}</p>
            {% endif %}
        </form>
    </div>
    <div class = 'text'>
        <h1>Стань частиною <br> <span>історії</span></h1>
        <p>Ми пропонуємо Вам стати частинкою ідеалогії DreamTeam!
            Зареєстровані користувачі перші отримають інормацію стосовно нашої продукції.
            Можливісь робити предзамовлення, отримувати персональні знижки та бути в курсі усіх новин компанії - 
            усе це, та ще багато іншого ми пропонуємо нашим постійним користувачам!
        </p>
    </div>
</div>
<script>
    const password = document.getElementById("password");
    const checkbox = document.getElementById("checkbox");

    checkbox.onchange = function(e) {
        password.type = checkbox.checked ? "text" : "password"
    };
</script>


{% endblock %}
<!-- pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" -->