
.hello{
    display: flex;
    padding-top: 2%;
    margin-left: 330px;
    width: 100%;
    flex-direction: column;
}
.hello h1{
    display: flex;
    color: aliceblue;
    font-size: 80px;
    padding-left: 50px;
    text-shadow:  0 10px black, 10px 0 10px black, 0 10px 10px black;
}

.dream{
    color: #1398F8;
}

h3{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-size: 30px;
    text-shadow: -7px 0 10px black, 7px 0 10px black, 0 7px 10px black;
}

.container{
    display: flex;
    width: 100%;
    margin-left: 330px;
    margin-top: 3%;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

#video{
    display: flex;
    position: relative;
    left: 50px;
    align-items: flex-start;
}

#vid-style{
    box-shadow: -10px 0 10px black, 10px 0 10px black, 0 10px 10px black;
}

#text1{
    color: aliceblue;
    display: flex;
    width: 25%; /* Ваші 30% ширини */
    position: relative;
    right: 23%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 21px;
}

.new_title{
    color:aliceblue;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    justify-content: center;
    margin-top: 4%;
    /* margin-bottom: 3%; */
}
.new_title h1{
    font-size: 30px;
    text-shadow: -7px 0 10px black, 7px 0 10px black, 0 7px 10px black;
}

.container2{
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-left: 20%;
    padding-left: 50px;
    gap: 4%;
}
 
#image{
    height: 600px;
    box-shadow: -10px 0 10px black, 10px 0 10px black, 0 10px 10px black;
    
}
.flip-card{
    position: relative;
    left: 20%;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    right: 13%;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .flip-card-front {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  h1 {
    text-align: center;
    font-size: 20px;
    color:aliceblue;
    text-shadow: -7px 0 10px black, 7px 0 10px black, 0 7px 10px black;
  }
  h2{
    font-size: 20px;
    text-align: left;
    width: 300px;
    line-height: 30px;
    text-shadow: -7px 0 10px black, 7px 0 10px black, 0 7px 10px black;
  }

.container2 .text2{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 25px;  
    width: 15%;
    text-align: left;
    font-size: 20px;   
}

.footer{
    background-color: rgb(19, 18, 18);
    text-align: center;
    color: aliceblue;
    margin-left: 20%;
    letter-spacing: 15px;
    padding: 1%;
    font-size: 18px;
    padding-top: 5%;
    
}

a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.6s;
}

#foot:hover{
    font-size: 22px;
}


@media(max-width: 1500px){
    .container{
        flex-direction: column;
    }
    #text1{
        width: 70%;
        padding-top: 4%;
        text-align: center;
        margin-left: 330px;
        padding: 20px 20px;

    }
}

